@import "vars";
@import "global";


section{
  height: 100vh;  
  padding: 100px 0;
}
.section-1{
  background: -webkit-linear-gradient(45deg,#50f2c4,#26d0e3,#757aff); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(45deg,#50f2c4,#26d0e3,#757aff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  & button{
    border: none;
    position: relative;
    display: block;
    margin: 170px auto;
    color: #000;
    text-transform: uppercase;
    font-family: monospace;
    font-size:30px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg, #744bea, #ff72c0);
    background-size: 200%;
    color: #fff;
    width: 400px;
    height: 70px;
    transition: .5s;
    &:hover{
      background-position: right;
      color: #EAEC7B;
}

  }

}
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  
}

.modal-content{
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 20px;
  & span{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: all .4s;
  &:hover{
    color: red;
    font-size: 30px
  }
}

& p{
  font-size: 24px
}

}







.section-2{
background-color:springgreen;
& h2{
  color:purple;  
  text-align: center;
  font-size: 36px;;
  & span{
    color:#005DE8;
  }
}
}
[draggable] {
  user-select: none;
  cursor: move;
}

.menu {
  display: flex;
  margin-top: 10%;
}

.item {
  width: 100%;
  text-align: center;
  list-style: none;
  color: white;
  border: 2px solid white;
  transition: all 250ms ease-out;
  & .item__head{
    padding: 5px 0;
    background-color: #005DE8;
    border-bottom: 2px solid #fff;
  }
  & p{
    background:purple;
    border-bottom: 1px solid #fff;
    padding: 4px 0;
  }
}

.item.over {
  border: 2px dashed #FFC82E;
  background-color: #E62899;
}

.item.selected {
  opacity: 0.4;
}










// inner-top
.section-3{
  font-family: "Montserrat", "Open Sans";
  
  &__inner-top{
    display: flex;
    // justify-content: space-around;
  }

  &__inner-top_block:nth-child(1){margin-right: 10px;}
  &__inner-top_block{
    color: #8193a0;
    display: flex;
    align-items: center;
    width: 100%;

    & p{
      margin-right: 10px;
    }

    & button{
      font-family: "Montserrat", "Open Sans";
      max-width: 170px;
      width: 100%;
      border: 3px solid #87ddf9;
      border-radius: 35px;
      padding: 9px 15px;
      cursor: pointer;
      user-select: none;    
      color: #000;
      font-size: 14px;
      font-weight: bold;
      background: #fff;
    }
  }
}



.select {
  display: block;
  max-width: 170px;
  width: 100%;
  position: relative;
  font-size: 14px;
}




#section-3 > div > div > div > div > div.new-select::after{
  position:absolute;
  right: 10px;
  top: 35%;
  content: url('../images/SVG/select.svg');
}

.new-select {
  position: relative;
  border: 3px solid #87ddf9;
  border-radius: 35px;
  padding: 9px 15px;
  cursor: pointer;
  user-select: none;    
  color: #000;
  font-weight: bold;
}

.on{
font-size: 14px;
border-radius: 0px;
transition: .45s;
}
.new-select__list {
  position: absolute;
  top: 42px;
  left: 0;
  background: #f8f9fa;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  user-select: none;
}

.new-select__list.on {
  display: block;
}

.new-select__item span {
  display: block;
  padding: 10px 15px;
}

.new-select__item span:hover {
  color: #12b223;
}

.new-select:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 9px;
  top: 9px;
  opacity: 0.6;

  -webkit-transition: all .27s ease-in-out;
      -o-transition: all .27s ease-in-out;
          transition: all .27s ease-in-out;

  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}


// inner
.section-3{
  &__item{
    position: relative;
    margin-right: 10px;
    &::before{
      position:absolute;
      content: '';
      width: 80%;
      height: 2px;
      bottom: 5px;
      left: 10%;
      background: #caf0fd;
    }
    
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
    }

    &__item,
    &__item_head{
    border-radius: 20px 20px 0 0;
  }

  &__item_head,
  &__item_body{
    display: flex;
    flex-direction: column;
    align-items: center;  
  }

 
  &__item_head{
    padding: 30px 20px;
    height: 115px; 
    background: #caf0fc;
    font-weight: 600;
    & h3{
      font-size: 24px;
      margin-bottom: 8px;
      font-weight: 600;
    }
    & p{
      color: #8193a0;
      font-size: 12px;
    }
  }
  &__item_head-1{
    background: #e3f3a4;
  }
  &__item_body{
    padding: 15px 20px;
    background: #e7f9ff;
    height: 300px;
    & a{
      color: #8193a0;
      font-size: 12px;
      border-bottom: 1.5px dashed #8193a0;
      font-weight: 500;
      margin-bottom: 15px;
  }
  }
  &__item_body-1{background: #f5fdd6;}

  &__item{
    max-width: 285px;
    width: 100%;
  }  

}
.section-3__inner > div:nth-child(1) > div.section-3__item_body.section-3__item_body-1 > p.item_price.item_price-1{color: #749403;}
.section-3__inner > div:nth-child(1) > div.section-3__item_body.section-3__item_body-1 > button{background: #a3cd00;}
.item{
  &_number{
    font-size: 20px;
    font-weight: 600;
    line-height: 0.9;
    margin-bottom: 15px;
    & span{
      font-size: 18px;
    }
  }
  &_number-1{
    margin-bottom: 5px;
  }
}
.section-3__inner > div:nth-child(4) > div.section-3__item_body > div > p{
  margin-bottom: 15px;
}
.fire{
  position: relative;
}
.section-3__item_body img{
  position:absolute;
  top: 2px;
  left: -32px;
  width: 35px;
}


.item_old-price{
  position: relative;
  color: #8193a0;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  &::after{
    position:absolute;
    bottom: 30%;
    left: 0;
    content: '';
    height: 1px;
    width: 100%;
    background: #8193a0;
  }
}


.item_price{
  display: flex;
  color: #0c53ae;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 12px;
  & span{
    
    width: 54px;
    height: 25px;
    display: block;
    padding-top: 2px;
    font-size: 18px;
    background: yellow;
    color: #000;
    // transform:rotate(4deg);
    transform: skew(-15deg, 0deg);
    
    margin-left: 3px;
  }
}
.item_price-1{
  margin-bottom: 62.5px;
}
.item_sub-price{
  color: #3376c0;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 35px;
  border-bottom: 1.5px dashed #3376c0;
}

.section-3__item_body button{
  padding: 11px;
  font-size: 14px;
  font-weight: 600;
  width: 70%;
  border: none;
  text-transform: uppercase;
  color: #fff;
  background: #21bdee;
  border-radius: 20px;
  margin-bottom: 30px;
}

.item_GB{
  color: #00385b;
  font-weight: 700;
  font-size: 20px;
}
.section-3__item-1::before{
  background: #eaf4c3;
}



@import "media";
